body {
  background: url("./docs/assets/img/tattoo.png") center no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto Mono", monospace;
}

canvas {
  border: 5px solid rgb(30, 255, 0);
  font-family: "Roboto Mono", monospace;
}

.instructions {
  background-color: rgb(30, 255, 0, 0.7);
  width: 400;
  height: 648;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  padding-top: 50px;
}

.keyboard {
  width: 250px;
}

.logo {
  width: 250px;
}

#start-button {
  background-color: rgba(240, 248, 255, 0);
  border: 2.5px solid black;
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  width: 130px;
}

.ig {
  font-size: smaller;
  text-decoration: none;
  color: black;
}
